<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>轻量级企业管理系统</title>
</head>
<body>
   <div align="center">
        <h2>行车记录信息</h2>
        <a href="{% url 'new' %}">新增车辆</a>
        <a href="{% url 'car' %}">查看所有车辆</a>
        <a href="{% url 'search' %}">查询行车记录</a>
        <a href="{% url 'del_all' %}">删除所有车辆</a>
        <a href="{% url 'del_allinfo' %}">清空所有信息</a><br><br>
        <div align="center">
            <form action="{% url 'find_other' %}" method="post">
                {% csrf_token %}
                <p>按常用名查找:<input type="text" name="find_cym"></p>
                <p>按驾驶员查找:<input type="text" name="find_jsy"></p>
                <p>按时间查找:<input type="datetime-local" name="find_date"></p>
                <p><input type="submit" value="搜索">
                    <input type="reset" value="清空条件"></p>
            </form>
        </div>
       <br>
        <table align="center" border="2px solid" id="table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>常用名</th>
                    <th>驾驶员</th>
                    <th>用车事由</th>
                    <th>派车时间</th>
                    <th>归还时间</th>
                    <th>产生油费</th>
                    <th>产生公里数</th>
                    <th>使用车辆状况</th>
                    <th>车辆派出情况</th>
                </tr>
            </thead>
            <tbody>
                {% for item in car_anpai_data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.cym }}</td>
                    <td>{{ item.jsy }}</td>
                    <td>{{ item.ycsy }}</td>
                    <td>{{ item.pcsj }}</td>
                    <td>{{ item.ghsj }}</td>
                    <td>{{ item.csyf }}</td>
                    <td>{{ item.csgls }}</td>
                    <td>{{ item.syclzk }}</td>
                    <td>{{ item.pcqk }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>